/* Your Website Styles */

h1 {
	font-family: 'Lato', sans-serif;
	color: #987894;
	font-size: 80px;
}

h3 {
	font-family: 'Lato', sans-serif;
	color: #987894;
	font-size: 24px;
	float: center;
	position: center; 
}

body {
	background: url(../img/gray_jean.png);
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.24em;
}



/* Show Grid */
.showgrid {
	background: #BAB6C2;
};